/* Default styling */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root {
 /* primary */
 --darkCyan: hsl(158, 36%, 37%);
 --cream: hsl(30, 38%, 92%);

 /* neutral */
 --veryDarkBlue: hsl(212, 21%, 14%);
 --darkGrayishBlue: hsl(228, 12%, 48%);
 --white: hsl(0, 0%, 100%);
}

body {
 font-family: 'Fraunces', serif;
 margin: 0 auto;
 padding: 30px 20px;
 box-sizing: border-box;
 background-color: var(--cream);
}

/* styling the contents */

.flex {
display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
}

.container {
 margin: 0 auto;
 max-width: 375px;
 display: flex;
 flex-direction: column;
 box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.07);
}

.small {
 border-radius: 10px 10px 0 0;
  width: 100%;
}

.content {
 background-color: var(--white);
 padding: 0 25px 25px;
 border-radius: 0 0 10px 10px;
}

#scent {
 letter-spacing: 5px;
}

#main {
 color: var(--veryDarkBlue);
}

p {
 font-family: 'Montserrat', sans-serif;
 font-size: 14px;
 color: var(--darkGrayishBlue);
 line-height: 1.6em;
}

#numbers {
display: flex;
}

#price {
 color: var(--darkCyan);
}

#strike {
font-size: 14px;
align-self: center;
padding-left: 15px;
text-decoration: line-through;
}

button {
 padding: 1.2em;
 background-color: var(--darkCyan);
 border: none;
 border-radius: 0.5em;
 width: 100%;
 color: var(--white);
 cursor: pointer;
 opacity: 0.8;
 box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

button:hover {
 opacity: 1;
 transition: 0.5s;
}

button h4 {
 padding: 0;
 margin: 0;
 display: inline;
}
.fa-solid {
 padding-right: 0.5em;
}

.attribution {
 font-size: 11px;
 text-align: center;
 margin-top: 10px;
}

.attribution a {
 color: hsl(228, 45%, 44%);
}

.big {
display: none;
}

/* desktop view */

@media screen and (min-width:600px) {
 .container {
  flex-direction: row;
  max-width: 600px;
 }
 .content {
  width: 50%;
  border-radius: 0 10px 10px 0;
  padding: 25px ;
 }
 .big {
  display: block;
  width: 50%;
  border-radius: 10px 0 0 10px;
 }
 .small {
  display: none;
 }
}